body{
    color: var(--t-c-s7);
    background-color: var(--b-c-sw);
    transition: var(--t-d-d1);
}
.head-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}
.info-text{
    font-family: var(--f-f-sh);
    font-weight: var(--t-b-b);
    font-size: var(--t-s-l);
    text-align: center;
    text-transform: uppercase;
    color: var(--t-c-s9);
}
.descript-text{
    font-size: var(--t-s-sm);
}
.logo-header .logo-image{
    width: 50px;
    height: 50px;
}
.head-container h1,
.logo-header h1{
    font-family: var(--f-f-h);
    font-weight: var(--t-b-b);
    font-size: var(--t-s-l);
}
.search-container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    text-align: center;
}
.search-container label{
    font-family: var(--f-f-sh);
    font-weight: 700;
}
.search-container img{
    margin-left: 10px;
    width: 30px;
    height: 30px;
    margin-bottom: -10px;
    margin-right: 5px;
    transition: var(--t-d-d2);
}
.search-container input{
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--b-c-db);
    color: var(--t-c-s6);
    font-weight: var(--t-b-lb);

    background-color:rgba(206, 203, 203, 0.575) ;
}
.search-container button{
    background-color: transparent;
    border: none;
}
.search-container img:hover{
    filter: drop-shadow(0px 0px 12px darkgray);
}
.intro-content {
    position: relative;
    border-radius: 20px;
    margin: auto;
    width: 95%;
    height: 87vh;
    background-image: url("assets/summer-light-mode.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    transition: var(--t-d-d3);
}

.intro-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.295);
    z-index: -1;
}
.welcome-text{
    margin-left: 50px;
    width: 80%;
}
.welcome-text h2{
    font-family: var(--f-f-sh);
    font-weight: var(--t-b-bb);
    color: white;
    font-size: var(--t-s-xxxl);
}
.welcome-text p{
    font-family: var(--f-f-p);
    font-weight: var(--t-b-lb);
    color: var(--t-c-s6);
    width: 60%;
    margin-bottom: 5px;
    text-align: left;
}
.welcome-text button{
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: var(--f-f-sh);
    font-weight: 800;
}
.image-nav-bar-container{
    display: flex;
    justify-content: center;
}
.image-nav-bar-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
    border: 1px solid rgba(0, 0, 0, 0.329);
    background-color: var(--t-c-s6);
    border-radius: 10px;
    width: 50%;
    height: 70px;
    overflow: hidden;
    z-index: 1;
    padding: 10px 20px;
}
.image-nav-bar-content:hover{
    height: 70px;
}
.nav-bar-icon{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-bar-icon ul{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
.nav-bar-icon li{
    list-style: none;
}
.nav-bar-icon a{
    font-size: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--f-f-sh);
    font-weight: var(--t-b-bb);
    color: var(--t-c-s7);
}
.nav-bar-icon img{
    width: 40px;
    height: 40px;
    transition: var(--t-d-d3);
}
.nav-bar-icon img:hover{
    transform: scale(1.5);
}
.sticky-nav {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1000; 
    border-radius: initial;
    border: initial;
}
.sticky-nav .nav-bar-icon{
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.sticky-nav .nav-bar-icon img{
    display: none;
}
.sticky-nav .nav-bar-icon ul{
    gap:15px;
}

.sticky-nav .nav-bar-icon a {
    font-size: var(--t-s-sm);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: var(--t-b-b);
    color: var(--t-c-s7);
    position: relative;
    overflow: hidden; 
    padding: 5px;
}

.sticky-nav .nav-bar-icon a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    transition:var(--t-d-d4);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    
}

.sticky-nav .nav-bar-icon a:hover::after {
    background: var(--t-c-s7);
    width: 100%;
}
.image-nav-bar-content #header-nav{
    display: none;
}
.reserved-section{
    display: none;
}
.price-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.price-content p{
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 20px;
}
.price-content span{
    display: none;
}
.price-content .offers{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.price-content .offers img{
    border-radius: 10px;
    width: 400px;
    height: 300px;
}

.bunddle {
    position: relative;
    overflow: hidden;
}

.bunddle p{
    font-family: var(--f-f-p);
    font-size: var(--t-s-s);
}

.bunddle img,
.bunddle:hover img {
    cursor: pointer;
    border: 2px solid var(--t-c-s6);
    border-radius: 10px;
    transition:var(--t-d-d3);
    z-index: 0;
}

.bunddle:hover img {
    filter: blur(5px);
    transform: scale(1.1);
}

.bunddle .go-button,
.bunddle:hover .go-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 90%;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(100%);
    transition: var(--t-d-d3);
    color: var(--t-c-s6);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.5); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    padding: 10px;
    gap:5px;
    opacity: 0; 
}

.bunddle:hover .go-button {
    transform: translateY(-5%);
    opacity: 1; 
}

.bunddle .go-button div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bunddle .go-button a{
    color: var(--t-c-s6);
    text-decoration: none;
    font-weight: var(--t-b-bb);
    font-family: var(--f-f-sh);
}

.bunddle .go-button a:hover {
    text-decoration: 3px underline var(--t-c-s6);
}

.gallery-section {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gallery-container h3{
    display: block;
    text-align: center;
    margin: 30px 0px;
}
.gallery-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
}
.gallery-content button{
    display: none;
}
.gallery-content img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.service-section{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.gallery-section #showMoreButton{
    display: none;
}
.service-container h4{
    margin-bottom: 20px;
}
.service-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    text-align: center;
}
.service-content .service-box{
    border: 1px solid black;
    width: 300px;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-section{
    margin-top:20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--t-c-s7);
}
.contact-content{
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 30px;
    justify-content: center;
}
.formtext-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-message h4{
    font-size: var(--t-s-m);
    margin-bottom: 10px;
    font-family: var(--f-f-sh);
}
.formtext-container pre{
    font-family: var(--f-f-p);
    font-size: var(--t-s-s);
    margin: 5px;
}
.formtext-container h1{
    font-family: var(--f-f-h);
    font-size: var(--t-s-xl);
}
#form-message{
    align-self: flex-end;
    margin: auto;
    text-align: left;
    width: 80%;
}
#form-message input{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom:20px;
    background-color:rgba(206, 203, 203, 0.575) ;
}
#form-message textarea{
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    background-color:rgba(206, 203, 203, 0.575) ;
}
.social-link{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.social-link img{
    width: 30px;
    height: 30px;
    transition: var(--t-d-d3);
}
.social-link img:hover{
    filter: drop-shadow(0px 0px 12px darkgray);
}
.contact-btn{
    margin-top:20px;
    border-radius: 5px;
    background-color: gray;
    padding: 10px 20px;
    color: var(--t-c-s7);
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition:var(--t-d-d3);
    border-style: none;
}
.contact-btn:hover{
    background-color: rgb(167, 167, 167);
}
.about-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
footer{
    text-align: center;
    margin-bottom: 10px;
    font-size: var(--t-s-s);
    font-family: var(--f-f-sh);
}

/* dark-mode */

body.dark-mode{
    color: var(--t-c-s6);
    background-color: var(--b-c-b);
}
body.dark-mode .logo-header h1{
    color: var(--t-c-s8);
    font-family: var(--f-f-h);
    font-size: var(--t-s-l);
}
body.dark-mode .search-container input{
    background-color: var(--b-c-dg);
    border-color: var(--b-c-sw);
}
body.dark-mode .intro-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--b-c-sb);
    z-index: -1;
}
body.dark-mode .welcome-text h2{
    color:var(--t-c-s9);
}
body.dark-mode .welcome-text button{
    background-color: var(--b-c-p);
    color: var(--t-c-s6);
}
body.dark-mode .image-nav-bar-content{
    background-color: var(--b-c-b);
}
body.dark-mode .sticky-nav{
    background-color: var(--b-c-ddg);
}
body.dark-mode .sticky-nav .nav-bar-icon a{
    color: var(--t-c-s6);
    padding: 5px;
}
body.dark-mode .sticky-nav .nav-bar-icon a:hover::after{
    background-color: var(--b-c-p);
}
body.dark-mode .info-text{
    color: var(--t-c-s8);
}
body.dark-mode .service-box{
    border-color: var(--b-c-sw);
}
body.dark-mode .service-content .service-box h1{
    color: var(--t-c-s9);
}
body.dark-mode .contact-content h1{
    color: var(--t-c-s9);
}
body.dark-mode #form-message h4,
body.dark-mode .contact-content pre{
    color:var(--t-c-s6);
}
body.dark-mode #form-message input,
body.dark-mode #form-message textarea{
    border: 1px solid var(--b-c-sw);
    background-color: var(--b-c-dg);
    color:var(--t-c-s6);
}
@media screen and (max-width:700px) {
    .head-container{
        margin: auto;
        padding: 10px;
        margin-top: -55px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px ;
        width: 100%;
        position: fixed;
        z-index: 99999;
        display: flex;
        justify-content: space-between;
        background-color: whitesmoke;

    }
    .head-container h1{
        font-size: var(--t-s-sm);
    }
    .logo-header .logo-image,
    .search-container img{
        width: 25px;
        height: 25px;
    }
    .intro-container{
        margin-top: 55px;

    }
    .intro-content {
        height: 35vh;
    }
    
    .welcome-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .welcome-text h2{
        font-size: var(--t-s-xxl);
        text-wrap:wrap;
    }
    .welcome-text span{
        display: block;
    }
    .welcome-text p{
        display: none;
    }
    .welcome-text button{
        display: none;
    }
    .search-container{
        width: 50%;
    }
    .search-container label{
        font-size: 0.8em;
    }
    .search-container input{
        width: 50%;
        padding: 2px;
    }
    .reserved-section{
        margin: auto;
        margin-top: 20px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
    .reserved-content h1{
        font-family: var(--f-f-sh);
        text-transform: uppercase;
        font-weight: var(--t-b-bb);
        margin-top: 10px ;
    }
    .reserved-content p{
        font-family: var(--f-f-p);
        font-size: var(--t-s-s);
        font-weight: var(--t-b-sl);
        margin-bottom: 10px;
    }
    .reserved-content input{
        margin: 5px 0px;
        padding: 10px;
        width: 100%;
    }
    .reserved-content .select-person{
        display: flex;
        justify-content: space-around;
    }
    .select-person select{
        width: 50%;
        padding: 5px;
    }
    .reserved-content button{
        margin-top: 5px;
        width: 100%;
        padding: 10px;
    }
    .image-nav-bar-content{
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
        font-size: 0.8em;
    }
    .nav-bar-icon img{
        width: 30px;
        height: 30px;
    }
    .nav-bar-icon ul{
        gap: 20px;
        margin-left: -6px;
    }
    .price-section{
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .price-content .offers{
        flex-direction: column;
        gap: 20px;
    }
    .price-container h3{
        margin: 20px 0px;
    }
    .price-content p{
        font-size: var(--t-s-s);
    }
    .price-content span{
        margin-top: -15px;
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: var(--t-s-s);
        font-family: var(--f-f-h2);
        font-weight: var(--t-b-sl);
    }
    .price-content .bunddle{
        display: flex;
        justify-content: center;
        
    }
    .price-content .offers img{
        width: 100%;
        height: 190px;
    }
    .price-content .offers img:hover{
        width: 80%;
        height: 400px;
    }
    .bunddle:hover .go-button {
        transform: translateY(-30%);
        opacity: 1; 
    }
    .gallery-section{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .gallery-content{
        flex-direction: column;
        gap: 10px;
        z-index: 99999;
    }
    .gallery-content img{
        height: 150px;
    }
    .gallery-content img:nth-child(n+4) {
        display: none;
    }
    .gallery-section #showMoreButton{
        display: block;
        margin-top: 5px;
        padding: 5px;
        width: 80%;
        border: none;
        background-color: var(--b-c-y);
        color: var(--t-c-s6);
        text-transform: uppercase;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius:20px;
        font-family: var(--f-f-h2);
        font-weight: var(--t-b-sl);
    }

    .service-section{
        margin-top: 20px;
    }
    .service-content{
        flex-direction: column;
        gap: 60px;
    }
    .service-box h1{
        font-weight: var(--t-b-bb);
        font-size: var(--t-s-m);
        font-family: var(--f-f-h2);
    }
    .service-box p{
        font-family: var(--f-f-p);
        font-size: var(--t-s-s);
    }
    .contact-section{
        margin-top: 0;
    }
    .contact-content{
        flex-direction: column-reverse;
        gap: 30px;
    }
    #form-message{
        text-align: center;
    }
    footer{
        position: relative;
        width: 100%;
        bottom: 120px;
        text-align: center;
        padding: 10px;
        font-size: var(--t-s-ss);
    }
    /* dark-mode-mobile */
    body.dark-mode .head-container h1{
        font-size: var(--t-s-sm);
    }
    body.dark-mode .head-container,
    body.dark-mode .image-nav-bar-content{
        background-color:var(--b-c-ddg);
        border-color: var(--b-c-sw);
    }
    body.dark-mode .reserved-content h1{
        color: var(--t-c-s8);
    }
    body.dark-mode .price-content span{
        color: var(--t-c-s9);
    }
    body.dark-mode .gallery-section #showMoreButton{
        background-color: var(--b-c-p);
        color: var(--t-c-s6);
    }
}
